@import '../../style/variables';
@import '../../style/fonts';

.button {
  display: flex;
  justify-content: center;
  width: 448px;
  height: 56px;
  background: #313037;
  color: #ffffff;
  align-items: center;
  text-align: center;

  &--add_to_card {
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    &:hover {
      background: #5b5a62;
    }
    &:disabled {
      background: #a8a8a8;
    }
  }
  &--cross_button {
    width: 56px;
    height: 56px;
    background: #FFFFFF;
  }
}
