@font-face {
    font-family: "BebasNeue";
    src: local("BebasNeue"),
    url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Helios";
    src: local("Helios"),
    url("../assets/fonts/heliosbold.ttf") format("truetype");
    font-weight: 400;
  }
  